
<div class="card">
  <div class="card-header bg-info text-white">
   <h5> Liste des produits </h5>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Code du produit</th>
          <th>Nom du produit</th>
          <th>Prix Unitaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td >{{item.id}}</td>
          <td  >{{item.nom}}</td>
           <td >{{item.prixUnitaire}}</td>
        </tr>

      </tbody>
    </table>
  </div>

</div>





